{% load static %}
<div class="theory">
  <p>The objective function of the maximization case: </p>
  <div class="text-center">
    <img src="{% static 'Theory_files/image056.png' %}">
  </div>
  <p>Minus each element in the matrix is equivalent to Z * (-1), the objective function will be converted. The optimal solution will remain unchanged.</p>
  <div class="text-center">
    <img src="{% static 'Theory_files/image058.png' %}">
  </div>
  <div class="text-center">
    <img src="{% static 'Theory_files/image060.png' %}">
  </div>
</div>