{% load static %}
<div class="theory">
  <div class="text-center">
    <img src="{% static 'Theory_files/image030.png' %}">
  </div>
  <p>
    This step also uses Theorem 2.1. If each column of <img src="{% static 'Theory_files/image028.png' %}"> minus a constant <img src="{% static 'Theory_files/image032.png' %}"> to form a new matrix <img src="{% static 'Theory_files/image034.png' %}">, the optimal solution of <img src="{% static 'Theory_files/image028.png' %}"> and <img src="{% static 'Theory_files/image034.png' %}"> are equivalent.
  </p>
</div>