{% load static %}
<div class="theory">
  <div class="text-center">

    <img src="{% static 'Theory_files/image022.png' %}">
  </div>

  <p>
If each row of <img src="{% static 'Theory_files/image024.png' %}"> minus a constant <img src="{% static 'Theory_files/image026.png' %}"> to form a new matrix <img src="{% static 'Theory_files/image028.png' %}">, the optimal solution of <img src="{% static 'Theory_files/image024.png' %}"> and <img src="{% static 'Theory_files/image028.png' %}"> are equivalent.
  </p>

</div>