{% load static %}
<div class="theory">
  <div class="text-center">
    <img class="theory-inline-formula" src="{% static 'Theory_files/image038.png' %}">
  </div>

  <p>
{#     <span><img class="theory-formula" src="{% static 'Theory_files/image040.png' %}"></span>is the element that is not covered by any lines. <img class="theory-inline-symbol" src="{% static 'Theory_files/image042.png' %}"> is the element that is at interval of crossing horizontal and vertical lines (the position in cross line point).#}

    <span><img class="theory-formula" src="{% static 'Theory_files/image040.png' %}"> is the row that is not covered by any horizontal lines.  <img class="theory-inline-symbol" src="{% static 'Theory_files/image042.png' %}"> is the column that is covered by the vertical line.</span>
  </p>


  <p>
    For <span><img class="theory-inline-symbol" src="{% static 'Theory_files/image044.png' %}"></span>, It uses Theorem 2.1. If <img class="theory-inline-symbol" src="{% static 'Theory_files/image046.png' %}"> minus a constant <img class="theory-inline-symbol" src="{% static 'Theory_files/image048.png' %}"> to form a new matrix <img class="theory-inline-symbol" src="{% static 'Theory_files/image050.png' %}">, the optimal solution of <img class="theory-inline-symbol" src="{% static 'Theory_files/image046.png' %}"> and <img class="theory-inline-symbol" src="{% static 'Theory_files/image050.png' %}"> are equivalent.
  </p>

  <p>
    For <img class="theory-inline-symbol" src="{% static 'Theory_files/image052.png' %}">, It uses Theorem 2.1. If <img class="theory-inline-symbol" src="{% static 'Theory_files/image042.png' %}"> adds a constant <img class="theory-inline-symbol" src="{% static 'Theory_files/image048.png' %}"> to form a new matrix <img class="theory-inline-symbol" src="{% static 'Theory_files/image054.png' %}">, the optimal solution of <img class="theory-inline-symbol" src="{% static 'Theory_files/image042.png' %}"> and <img class="theory-inline-symbol" src="{% static 'Theory_files/image052.png' %}"> are equivalent.
  </p>

</div>